{{ "{{" }}Ability
|id={{ ctx.id }}
|title={{ ctx.title }}
|image=[[File:{{ ctx.image }}|thumb]]
|imagecaption={{ ctx.imagecaption }}
|description={{ ctx.description }}
|type={{ ctx.type }}
|line={{ ctx.line }}
|classes={{ ctx.classes|join('<br>') }}
|required_level={{ ctx.required_level }}
|manacost={{ ctx.manacost }}
|aggro={{ ctx.aggro }}
|is_taunt={{ ctx.is_taunt }}
|casttime={{ ctx.casttime }}
|cooldown={{ ctx.cooldown }}
|duration={{ ctx.duration }}
|duration_in_ticks={{ ctx.duration_in_ticks }}
|has_unstable_duration={{ ctx.has_unstable_duration }}
|is_instant_effect={{ ctx.is_instant_effect }}
|is_reap_and_renew={{ ctx.is_reap_and_renew }}
|is_sim_usable={{ ctx.is_sim_usable }}
|range={{ ctx.range }}
|max_level_target={{ ctx.max_level_target }}
|is_self_only={{ ctx.is_self_only }}
|is_group_effect={{ ctx.is_group_effect }}
|is_applied_to_caster={{ ctx.is_applied_to_caster }}
|effects={{ ctx.effects }}
|damage_type={{ ctx.damage_type }}
|resist_modifier={{ ctx.resist_modifier }}
|target_damage={{ ctx.target_damage }}
|target_healing={{ ctx.target_healing }}
|caster_healing={{ ctx.caster_healing }}
|shield_amount={{ ctx.shield_amount }}
|pet_to_summon={{ ctx.pet_to_summon }}
|status_effect={{ ctx.status_effect }}
|add_proc={{ ctx.add_proc }}
|add_proc_chance={{ ctx.add_proc_chance }}
|has_lifetap={{ ctx.has_lifetap }}
|lifesteal={{ ctx.lifesteal }}
|damage_shield={{ ctx.damage_shield }}
|percent_mana_restoration={{ ctx.percent_mana_restoration }}
|bleed_damage_percent={{ ctx.bleed_damage_percent }}
|special_descriptor={{ ctx.special_descriptor }}
|hp={{ ctx.hp }}
|ac={{ ctx.ac }}
|mana={{ ctx.mana }}
|str={{ ctx.str }}
|dex={{ ctx.dex }}
|end={{ ctx.end }}
|agi={{ ctx.agi }}
|wis={{ ctx.wis }}
|int={{ ctx.int }}
|cha={{ ctx.cha }}
|mr={{ ctx.mr }}
|er={{ ctx.er }}
|vr={{ ctx.vr }}
|pr={{ ctx.pr }}
|haste={{ ctx.haste }}
|resonance={{ ctx.resonance }}
|movement_speed={{ ctx.movement_speed }}
|atk_roll_modifier={{ ctx.atk_roll_modifier }}
|xp_bonus={{ ctx.xp_bonus }}
|is_root={{ ctx.is_root }}
|is_stun={{ ctx.is_stun }}
|is_charm={{ ctx.is_charm }}
|is_broken_on_damage={{ ctx.is_broken_on_damage }}
|itemswitheffect={{ ctx.itemswitheffect }}
|source={{ ctx.source }}
{{ "}}" }}
