{{ "{{" }}Fancy-charm
|image={{ image }}
|name={{ name }}
|description={{ description }}
|strscaling={{ strscaling }}
|endscaling={{ endscaling }}
|dexscaling={{ dexscaling }}
|agiscaling={{ agiscaling }}
|intscaling={{ intscaling }}
|wisscaling={{ wisscaling }}
|chascaling={{ chascaling }}
|arcanist={{ arcanist }}
|duelist={{ duelist }}
|druid={{ druid }}
|paladin={{ paladin }}
|stormcaller={{ stormcaller }}
{{ "}}" }}
