{{"{{"}}Fancy-charm
|image=[[File:{{image_name}}|80px]]
|name={{name}}
|description={{description}}
|strscaling={{str_scaling}}
|endscaling={{end_scaling}}
|dexscaling={{dex_scaling}}
|agiscaling={{agi_scaling}}
|intscaling={{int_scaling}}
|wisscaling={{wis_scaling}}
|chascaling={{cha_scaling}}
|arcanist={{arcanist}}
|duelist={{duelist}}
|druid={{druid}}
|paladin={{paladin}}
|stormcaller={{stormcaller}}
}}
