{{ "{{" }}Fancy-weapon
|image={{ image }}
|name={{ name }}
|type={{ type }}
|relic={{ relic }}
|str={{ str }}
|end={{ end }}
|dex={{ dex }}
|agi={{ agi }}
|int={{ int }}
|wis={{ wis }}
|cha={{ cha }}
|res={{ res }}
|damage={{ damage }}
|delay={{ delay }}
|health={{ health }}
|mana={{ mana }}
|armor={{ armor }}
|magic={{ magic }}
|poison={{ poison }}
|elemental={{ elemental }}
|void={{ void }}
|description={{ description }}
|arcanist={{ arcanist }}
|duelist={{ duelist }}
|druid={{ druid }}
|paladin={{ paladin }}
|stormcaller={{ stormcaller }}
|proc_name={{ proc_name }}
|proc_desc={{ proc_desc }}
|proc_chance={{ proc_chance }}
|proc_style={{ proc_style }}
|tier={{ tier }}
{{ "}}" }}
