{{ "{{" }}Character
|name={{ ctx.name }}
|image=[[File:{{ ctx.image }}|thumb]]
|type={{ ctx.type }}
|faction={{ ctx.faction }}
|zones={{ ctx.zones }}
|level={{ ctx.level }}
|experience={{ ctx.experience }}
{{ "}}" }}
