{{ "{{" }}Enemy
|name={{ ctx.name }}
|image=[[File:{{ ctx.image }}|thumb]]
|imagecaption={{ ctx.imagecaption }}
|type={{ ctx.type }}
|faction={{ ctx.faction }}
|factionChange={{ ctx.factionChange }}
|zones={{ ctx.zones }}
|coordinates={{ ctx.coordinates }}
|spawnchance={{ ctx.spawnchance }}
|respawn={{ ctx.respawn }}
|guaranteeddrops={{ ctx.guaranteeddrops }}
|droprates={{ ctx.droprates }}
|level={{ ctx.level }}
|experience={{ ctx.experience }}
|health={{ ctx.health }}
|mana={{ ctx.mana }}
|ac={{ ctx.ac }}
|strength={{ ctx.strength }}
|endurance={{ ctx.endurance }}
|dexterity={{ ctx.dexterity }}
|agility={{ ctx.agility }}
|intelligence={{ ctx.intelligence }}
|wisdom={{ ctx.wisdom }}
|charisma={{ ctx.charisma }}
|magic={{ ctx.magic }}
|poison={{ ctx.poison }}
|elemental={{ ctx.elemental }}
|void={{ ctx.void }}
{{ "}}" }}
