{{ "{{" }}Ability
|title={{ title }}
|image=[[File:{{ image }}|thumb]]
|imagecaption={{ imagecaption }}
|description={{ description }}
|type={{ type }}
|line={{ line }}
|classes={{ classes }}
|required_level={{ required_level }}
|manacost={{ manacost }}
|aggro={{ aggro }}
|is_taunt={{ is_taunt }}
|casttime={{ casttime }}
|cooldown={{ cooldown }}
|duration={{ duration }}
|duration_in_ticks={{ duration_in_ticks }}
|has_unstable_duration={{ has_unstable_duration }}
|is_instant_effect={{ is_instant_effect }}
|is_reap_and_renew={{ is_reap_and_renew }}
|is_sim_usable={{ is_sim_usable }}
|range={{ range }}
|max_level_target={{ max_level_target }}
|is_self_only={{ is_self_only }}
|is_group_effect={{ is_group_effect }}
|is_applied_to_caster={{ is_applied_to_caster }}
|effects={{ effects }}
|damage_type={{ damage_type }}
|resist_modifier={{ resist_modifier }}
|target_damage={{ target_damage }}
|target_healing={{ target_healing }}
|caster_healing={{ caster_healing }}
|shield_amount={{ shield_amount }}
|pet_to_summon={{ pet_to_summon }}
|status_effect={{ status_effect }}
|add_proc={{ add_proc }}
|add_proc_chance={{ add_proc_chance }}
|has_lifetap={{ has_lifetap }}
|lifesteal={{ lifesteal }}
|damage_shield={{ damage_shield }}
|percent_mana_restoration={{ percent_mana_restoration }}
|bleed_damage_percent={{ bleed_damage_percent }}
|special_descriptor={{ special_descriptor }}
|hp={{ hp }}
|ac={{ ac }}
|mana={{ mana }}
|str={{ str }}
|dex={{ dex }}
|end={{ end }}
|agi={{ agi }}
|wis={{ wis }}
|int={{ int }}
|cha={{ cha }}
|mr={{ mr }}
|er={{ er }}
|vr={{ vr }}
|pr={{ pr }}
|haste={{ haste }}
|resonance={{ resonance }}
|movement_speed={{ movement_speed }}
|atk_roll_modifier={{ atk_roll_modifier }}
|xp_bonus={{ xp_bonus }}
|is_root={{ is_root }}
|is_stun={{ is_stun }}
|is_charm={{ is_charm }}
|is_broken_on_damage={{ is_broken_on_damage }}
|is_fear={{ is_fear }}
|inflict_on_self={{ inflict_on_self }}
|itemswitheffect={{ itemswitheffect }}
|source={{ source }}
|used_by={{ used_by }}
{{ "}}" }}
