{{ "{{" }}Character
|name={{ name }}
|image=[[File:{{ image }}|thumb]]
|imagecaption={{ imagecaption }}
|type={{ type }}
|faction={{ faction }}
|factionChange={{ faction_change }}
|zones={{ zones }}
|coordinates={{ coordinates }}
|spawnchance={{ spawn_chance }}
|spawntype={{ spawn_type }}
|respawn={{ respawn }}
|level={{ level }}
|levelmodmin={{ level_mod_min }}
|levelmodmax={{ level_mod_max }}
|levelvariancemin={{ variance_min }}
|levelvariancemax={{ variance_max }}
|xpmultiplier={{ xp_multiplier }}
|health={{ health }}
|mana={{ mana }}
|ac={{ ac }}
|strength={{ strength }}
|endurance={{ endurance }}
|dexterity={{ dexterity }}
|agility={{ agility }}
|intelligence={{ intelligence }}
|wisdom={{ wisdom }}
|charisma={{ charisma }}
|magic={{ magic }}
|poison={{ poison }}
|elemental={{ elemental }}
|void={{ void }}
|spells={{ spells }}
{{ "}}" }}
