{{ "{{" }}Item/Charm
|image={{ image }}
|name={{ name }}
|tier={{ tier }}
|strscaling={{ strscaling }}
|endscaling={{ endscaling }}
|dexscaling={{ dexscaling }}
|agiscaling={{ agiscaling }}
|intscaling={{ intscaling }}
|wisscaling={{ wisscaling }}
|chascaling={{ chascaling }}
|resistscaling={{ resistscaling }}
|mitigationscaling={{ mitigationscaling }}
|arcanist={{ arcanist }}
|duelist={{ duelist }}
|druid={{ druid }}
|paladin={{ paladin }}
|stormcaller={{ stormcaller }}
{{ "}}" }}
