{{ "{{" }}Item
|title={{ title }}
|image={{ image }}
|imagecaption={{ imagecaption }}
|type={{ type }}
|vendorsource={{ vendorsource }}
|source={{ source }}
|othersource={{ othersource }}
|questsource={{ questsource }}
|relatedquest={{ relatedquest }}
|craftsource={{ craftsource }}
|componentfor={{ componentfor }}
|relic={{ relic }}
|classes={{ classes }}
|effects={{ effects }}
|damage={{ damage }}
|delay={{ delay }}
|dps={{ dps }}
|casttime={{ casttime }}
|duration={{ duration }}
|cooldown={{ cooldown }}
|description={{ description }}
|buy={{ buy }}
|sell={{ sell }}
|itemid={{ itemid }}
|crafting={{ crafting }}
|recipe={{ recipe }}
{{ "}}" }}
