{{ "{{" }}Item
|title={{ title }}
|type={{ type }}
|vendorsource={{ vendorsource }}
|source={{ source }}
|othersource={{ othersource }}
|questsource={{ questsource }}
|relatedquest={{ relatedquest }}
|craftsource={{ craftsource }}
|componentfor={{ componentfor }}
|buy={{ buy }}
|sell={{ sell }}
|taughtspell={{ taughtspell }}
|taughtskill={{ taughtskill }}
{{ "}}" }}
