{{ "{{" }}Item/SkillBook
|image={{ image }}
|name={{ name }}
|duelist_level={{ duelist_level }}
|druid_level={{ druid_level }}
|arcanist_level={{ arcanist_level }}
|paladin_level={{ paladin_level }}
|stormcaller_level={{ stormcaller_level }}
|skill_type={{ skill_type }}
|skill_desc={{ skill_desc }}
|simplayers_autolearn={{ simplayers_autolearn }}
{{ "}}" }}
