{{ "{{" }}Item/SpellScroll
|image={{ image }}
|name={{ name }}
|arcanist_level={{ arcanist_level }}
|druid_level={{ druid_level }}
|duelist_level={{ duelist_level }}
|paladin_level={{ paladin_level }}
|stormcaller_level={{ stormcaller_level }}
|mana_cost={{ mana_cost }}
|spell_type={{ spell_type }}
|spell_desc={{ spell_desc }}
{{ "}}" }}
