{{ "{{" }}Stance
|title={{ title }}
|image=[[File:{{ image }}|thumb]]
|description={{ description }}
|switch_message={{ switch_message }}
|max_hp_mod={{ max_hp_mod }}
|damage_mod={{ damage_mod }}
|damage_taken_mod={{ damage_taken_mod }}
|proc_rate_mod={{ proc_rate_mod }}
|aggro_gen_mod={{ aggro_gen_mod }}
|spell_damage_mod={{ spell_damage_mod }}
|self_damage_per_attack={{ self_damage_per_attack }}
|self_damage_per_cast={{ self_damage_per_cast }}
|lifesteal_amount={{ lifesteal_amount }}
|resonance_amount={{ resonance_amount }}
|stop_regen={{ stop_regen }}
|activated_by={{ activated_by }}
{{ "}}" }}
