{{ "{{" }}Zone
|title={{ wiki_name }}
|type={% if zone_group[0].is_dungeon %}Dungeon{% else %}Zone{% endif %}
|level=
|maplink={% if map_scene %}{{ "{{" }}MapLink|zone={{ map_scene }}{{ "}}" }}{% endif %}
|connects={% for c in connections %}[[{{ c }}]]{% if not loop.last %}, {% endif %}{% endfor %}
|notablenpc=
|notableenemy=
{{ "}}" }}

{{ "{{" }}Zone Navbox{{ "}}" }}
