{{ "{{" }}Ability Books
|title={{ ctx.title }}
|image={{ ctx.image }}
|imagecaption={{ ctx.imagecaption }}
|type={{ ctx.type }}
|spelltype={{ ctx.spelltype }}
|classes={{ ctx.classes }}
|effects={{ ctx.effects }}
|manacost={{ ctx.manacost }}
|description={{ ctx.description }}
|buy={{ ctx.buy }}
|sell={{ ctx.sell }}
|vendorsource={{ ctx.vendorsource }}
|source={{ ctx.source }}
|othersource={{ ctx.othersource }}
|componentfor={{ ctx.componentfor }}
|itemid={{ ctx.itemid }}
{{ "}}" }}
