{{ "{{" }}Fancy-armor
| image = {{ ctx.image }}
| name = {{ ctx.name }}
| type = {{ ctx.type }}
| slot = {{ ctx.slot }}
| relic = {{ ctx.relic }}
| str = {{ ctx.str }}
| end = {{ ctx.end }}
| dex = {{ ctx.dex }}
| agi = {{ ctx.agi }}
| int = {{ ctx.int }}
| wis = {{ ctx.wis }}
| cha = {{ ctx.cha }}
| res = {{ ctx.res }}
| health = {{ ctx.health }}
| mana = {{ ctx.mana }}
| armor = {{ ctx.armor }}
| magic = {{ ctx.magic }}
| poison = {{ ctx.poison }}
| elemental = {{ ctx.elemental }}
| void = {{ ctx.void }}
| description = {{ ctx.description }}
| arcanist = {{ ctx.arcanist }}
| duelist = {{ ctx.duelist }}
| druid = {{ ctx.druid }}
| paladin = {{ ctx.paladin }}
| stormcaller = {{ ctx.stormcaller }}
| proc_name = {{ ctx.proc_name }}
| proc_desc = {{ ctx.proc_desc }}
| proc_chance = {{ ctx.proc_chance }}
| proc_style = {{ ctx.proc_style }}
| tier = {{ ctx.tier }}
{{ "}}" }}
