{{ "{{" }}Fancy-charm
| image = {{ ctx.image }}
| name = {{ ctx.name }}
| description = {{ ctx.description }}
| strscaling = {{ ctx.strscaling }}
| endscaling = {{ ctx.endscaling }}
| dexscaling = {{ ctx.dexscaling }}
| agiscaling = {{ ctx.agiscaling }}
| intscaling = {{ ctx.intscaling }}
| wisscaling = {{ ctx.wisscaling }}
| chascaling = {{ ctx.chascaling }}
| arcanist = {{ ctx.arcanist }}
| duelist = {{ ctx.duelist }}
| druid = {{ ctx.druid }}
| paladin = {{ ctx.paladin }}
| stormcaller = {{ ctx.stormcaller }}
{{ "}}" }}
