{{ "{{" }}Item
|title={{ ctx.title }}
|image={{ ctx.image }}
|imagecaption={{ ctx.imagecaption }}
|type={{ ctx.type }}
|vendorsource={{ ctx.vendorsource }}
|source={{ ctx.source }}
|othersource={{ ctx.othersource }}
|questsource={{ ctx.questsource }}
|relatedquest={{ ctx.relatedquest }}
|craftsource={{ ctx.craftsource }}
|componentfor={{ ctx.componentfor }}
|relic={{ ctx.relic }}
|classes={{ ctx.classes }}
|effects={{ ctx.effects }}
|damage={{ ctx.damage }}
|delay={{ ctx.delay }}
|dps={{ ctx.dps }}
|casttime={{ ctx.casttime }}
|duration={{ ctx.duration }}
|cooldown={{ ctx.cooldown }}
|description={{ ctx.description }}
|buy={{ ctx.buy }}
|sell={{ ctx.sell }}
|itemid={{ ctx.itemid }}
{{ "}}" }}
