{{ "{{" }}Mold
|title={{ ctx.title }}
|buy={{ ctx.buy }}
|sell={{ ctx.sell }}
|vendorsource={{ ctx.vendorsource }}
|source={{ ctx.source }}
|description={{ ctx.description }}
|questsource={{ ctx.questsource }}
|relatedquest={{ ctx.relatedquest }}
|crafting={{ ctx.crafting }}
|recipe={{ ctx.recipe }}
{{ "}}" }}
