; Sources
{% if ctx.vendorsource %}: Sold by: {{ ctx.vendorsource }}
{% endif %}
{% if ctx.source %}: Dropped by: {{ ctx.source }}
{% endif %}
{% if ctx.questsource %}: Reward from: {{ ctx.questsource }}
{% endif %}
{% if ctx.relatedquest %}: Related quest(s): {{ ctx.relatedquest }}
{% endif %}
{% if ctx.craftsource %}: Produced by: {{ ctx.craftsource }}
{% endif %}
{% if ctx.componentfor %}: Component for: {{ ctx.componentfor }}
{% endif %}
 
