=List of Fishing Locations=
{% for zone in ctx.zones %}
=={{ zone.name }} Fishing Loot==
{| class="wikitable" style="text-align: center"
! Name
! Catch Rate
{% for row in zone.rows %}
|-
| {{ row.name }}
| {{ row.rate }}
{% endfor %}
|}

{% endfor %}
